@page "/newReservation"
@using ReservationSystem;
@inject NavigationManager NavManager;

<PageTitle>New Reservation</PageTitle>
<h1>Make a new Reservation</h1>
<hr>
<p>If you don't already have a guest account made, please <a href="/newGuest">create</a> one first.</p>
<hr>

<section>
    <label>Guest Account Number:</label>
    <input type="number" @bind=guestNumber />
    <p style="color: red;">@guestError</p>
    <br />

    <label>Site Number:</label>
    <input type="number" @bind=siteNumber />
    <p style="color: red;">@siteError</p>
    <br />
    
    <label>Arrival Date:</label>
    <input type="DateTime" @bind=arrivalDate />
    <label>Departure Date:</label>
    <input type="DateTime" @bind=departureDate />
    <br />

    <button @onclick=makeReservation>Make Reservation</button>
</section>

<footer>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
</footer>

@code
{
    public int guestNumber;
    public int siteNumber;
    public DateTime arrivalDate;
    public DateTime departureDate;

    public string guestError = "";
    public string siteError = "";
    public string numGuestsError = "";

    public void makeReservation()
    {
        string[] result = SystemRunner.MakeReservation(guestNumber, siteNumber, arrivalDate, departureDate);
        guestError = result[0];
        siteError = result[1];

        if ((guestError == "") && (siteError == ""))
        {
            NavManager.NavigateTo("/reservations");
        }
    }
}