@page "/newReservation"
@using ReservationSystem;
@inject NavigationManager NavManager;

<PageTitle>New Reservation</PageTitle>
<h1>Make a new Reservation</h1>
<hr>
<p>If you don't already have a guest account made, please <a href="/newGuest">create</a> one first.</p>
<hr>

<section>
    <label>Guest Account Number:</label>
    <input type="number" @bind=guestNumber />
    <br />

    <label>Site Number:</label>
    <input type="number" @bind=siteNumber />
    <br />

    <label>Arrival Date:</label>
    <input type="DateTime" @bind=arrivalDate />
    <label>Departure Date:</label>
    <input type="DateTime" @bind=departureDate />
    <br />

    <button @onclick=makeReservation>Make Reservation</button>
    <p style="color: red;">@message</p>
</section>

<footer>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
</footer>

@code
{
    public int guestNumber;
    public int siteNumber;
    public DateTime arrivalDate;
    public DateTime departureDate;

    public string message = "";

    public void makeReservation()
    {
        bool result = SystemRunner.MakeReservation(guestNumber, siteNumber, arrivalDate, departureDate);
        if (result)
        {
            NavManager.NavigateTo("/reservations");
        }
        else
        {
            message = "Make sure you entered a valid guest numbe and valid site number, then try again";
        }
    }
}