@page "/newSite"
@using ReservationSystem;
@inject NavigationManager NavManager;

<PageTitle>New Site</PageTitle>
<h1>Make a new Site</h1>

<p>Please input the site number and select the button for the type of site you'd like to create</p>
<input type="number" @bind="siteNumber">
<p style="color: red;">@message</p>
<ol>
    <li><button @onclick="makeNewTent">Tent Site</button></li>
    <li><button @onclick="makeNewWE30">Water/Electric 30amps</button></li>
    <li><button @onclick="makeNewWE50">Water/Electric 50 amps</button></li>
    <li><button @onclick="makeNewFHU30">Full Hook-ups 30 amps</button></li>
    <li><button @onclick="makeNewFHU50">Full Hook-ups 50 amps</button></li>
    <li><button @onclick="makeNewFHUC">Full Hook-ups Cement</button></li>
    <li><button @onclick="makeNewPT">Deluxe Pull-Through</button></li>
    <li><button @onclick="makeNewGS">Group Site</button></li>
</ol>

<footer>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
</footer>

@code
{
    public int siteNumber = 0;
    public string message = "";
    public void makeNewTent()
    {
        if (SystemRunner.MakeNewTent(siteNumber))
        {
            NavManager.NavigateTo("/sites");
        }
        message = "Please enter a positive number that is not already used.";
    }
    public void makeNewWE30()
    {
        if (SystemRunner.MakeNewWE30(siteNumber))
        {
            NavManager.NavigateTo("/sites");
        }
        message = "Please enter a positive number that is not already used.";
    }
    public void makeNewWE50()
    {
        if (SystemRunner.MakeNewWE50(siteNumber))
        {
            NavManager.NavigateTo("/sites");
        }
        message = "Please enter a positive number that is not already used.";
    }
    public void makeNewFHU30()
    {
        if (SystemRunner.MakeNewFHU30(siteNumber))
        {
            NavManager.NavigateTo("/sites");
        }
        message = "Please enter a positive number that is not already used.";
    }
    public void makeNewFHU50()
    {
        if (SystemRunner.MakeNewFHU50(siteNumber))
        {
            NavManager.NavigateTo("/sites");
        }
        message = "Please enter a positive number that is not already used.";
    }
    public void makeNewFHUC()
    {
        if (SystemRunner.MakeNewFHUC(siteNumber))
        {
            NavManager.NavigateTo("/sites");
        }
        message = "Please enter a positive number that is not already used.";
    }
    public void makeNewPT()
    {
        if (SystemRunner.MakeNewPT(siteNumber))
        {
            NavManager.NavigateTo("/sites");
        }
        message = "Please enter a positive number that is not already used.";
    }
    public void makeNewGS()
    {
        if (SystemRunner.MakeNewGS(siteNumber))
        {
            NavManager.NavigateTo("/sites");
        }
        message = "Please enter a positive number that is not already used.";
    }
}