@page "/sites"
@using ReservationSystem;

<PageTitle>Site Management</PageTitle>
<h1>Manage Site Information</h1>

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        column-width: 20em;
    }
</style>

<a href="/newSite">Make a new Site</a>

<hr />
<h2>Reservation Information</h2>

<label for="sortBy">Sort By:</label>
<select @bind=sortBy>
    <option value=0>Site Number</option>
    <option value=1>Site Type</option>
</select>
<button @onclick=sort>Show Results</button>

<table>
    <thead>
        <tr>
            <td>Site</td>
            <td>Site Type</td>
        </tr>
    </thead>
    @for (int i = 0; i < sortedList.Count; i++)
    {
        <tr>
            <td>@sortedList[i].SiteNumber</td>
            <td>@sortedList[i].SiteType</td>
        </tr>
    }
</table>

<footer>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
</footer>

@code
{
    public int sortBy;
    public List<Site> sortedList = new();
    public void sort()
    {
        switch (sortBy)
        {
            case 0:
                sortedList = SystemRunner.SiteList.OrderBy(s => s.SiteNumber).ToList();
                break;
            case 1:
                sortedList = SystemRunner.SiteList.OrderBy(s => s.SiteType).ToList();
                break;
            default:
                sortedList = SystemRunner.SiteList.OrderBy(s => s.SiteType).ToList();
                break;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        sortBy = 0;
        sort();
    }
}